@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,900|Helvetica+Neue:700');

.about {
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - about */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.about .auto-flex-NxxFhu {
  align-items         : flex-start;
  background-color    : rgba(255,255,255,0);
  box-sizing          : border-box;
  display             : flex;
  flex-direction      : column;
  height              : auto;
  justify-content     : flex-start;
  left                : 691px;
  position            : absolute;
  top                 : 107px;
  width               : 628px;
}
.about .textfield2-1NWc1U {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.82%;
  left                : 58.89%;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 30.84%;
  width               : 30.69%;
}
.about .textfield2-1NWc1U::placeholder {
  color               : rgba(130,130,130,0.6);
}
.about .sub-title7-c2oh66 {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 57.57%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 10.89%;
  width               : 14.03%;
}
.about .sub-title7-RHuzVb {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 57.57%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 24.60%;
  width               : 14.03%;
}
.about .leave-your-email-and-we-will-contact-you-shortly-RdzuqD {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 7.22%;
  left                : 8.61%;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 25.58%;
  width               : 33.96%;
}
.about .sub-title-5-GkBNgx {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 173px;
  width               : 370px;
}
.about .ipw-is-a-company-that-has-been-evolving-for-over-a-decade-while-keeping-one-goal-in-mind-clean-water-for-all-dr-ronald-silver-and-mr-shimon-ben-dor-set-out-with-the-intention-of-creating-a-highly-efficient-non-electric-easy-to-use-filter-systems-that-is-affordable-in-any-market-this-shared-dream-grew-to-become-the-shim-ron-line-of-filters-a-filter-fit-for-any-need-any-scale-and-on-any-budget-a-filter-fit-for-everyone-FDtyWl {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 243px;
  width               : 489px;
}
.about .span1-FDtyWl {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
.about .span2-FDtyWl {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.about .what-XIOeJd {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 427px;
  position            : relative;
  width               : 628px;
}
.about .sub-title-5-aXPiV7 {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 641px;
  width               : 370px;
}
.about .ipws-mission-is-simple-global-clean-water-access-we-believe-it-is-a-human-right-and-now-we-are-taking-the-necessary-steps-to-achieve-that-our-filters-are-affordable-in-any-market-because-everyone-should-be-able-to-afford-clean-water-at-ipw-using-the-shim-ron-line-of-filters-we-can-provide-that-basic-human-right-T8GTLM {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 711px;
  width               : 489px;
}
.about .who-ACAc6M {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 427px;
  margin-top          : 41px;
  position            : relative;
  width               : 628px;
}
.about .sub-title-5-3GxDBB {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1109px;
  width               : 370px;
}
.about .ipw-is-not-creating-a-filter-with-anyone-in-mind-but-rather-everyone-from-fabrication-to-replacement-both-the-end-user-and-the-environment-have-been-considered-our-filters-are-scalable-affordable-and-reusable-top-of-the-line-performace-simple-design-accessible-to-all-a-groundbreaking-filter-for-the-world-without-wasting-a-drop-of-water-mvxlSi {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1229px;
  width               : 489px;
}
.about .span1-mvxlSi {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
.about .span2-mvxlSi {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.about .plan-ifztfO {
  background-color    : rgba(255,255,255,0);
  flex-shrink         : 0;
  height              : 427px;
  margin-top          : 41px;
  position            : relative;
  width               : 628px;
}
.about .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 30px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.about .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 720px);
  position            : absolute;
  top                 : 0px;
  width               : 1440px;
}
.about .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 36.60%;
  position            : absolute;
  text-align          : left;
  top                 : 79.49%;
  width               : 48.33%;
}
.about .home-JOdDHZ {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 50.62%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.53%;
}
.about .filters-LVm3WN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 59.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 5.90%;
}
.about .technology-v9XZhp {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 68.75%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 9.65%;
}
.about .about-5bbght {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 80.56%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.81%;
}
.about .contact-nGCmsB {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 89.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 7.43%;
}
.about .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 42.74%;
  left                : 5.56%;
  position            : absolute;
  top                 : 19.66%;
  width               : 15.72%;
}
.about {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 2590.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.about .b-gcontact-IM6yo6 {
  background-color    : var(--auto-palette-color-4);
  height              : 497px;
  left                : 0px;
  position            : absolute;
  top                 : 1773px;
  width               : 100%;
}
.about .rectangle-9-H0JXIb {
  background-color    : var(--auto-palette-color-7);
  height              : 320px;
  left                : 0px;
  position            : absolute;
  top                 : 2270px;
  width               : 100%;
}
.about .frame-13-GXB4pF {
  background-color    : rgba(255,255,255,0);
  height              : 2480px;
  left                : calc(50.00% - 720px);
  overflow            : hidden;
  position            : absolute;
  top                 : 110px;
  width               : 1440px;
}
.about .bottom-section-8HNtPf {
  background-color    : rgba(255,255,255,0);
  height              : 817px;
  left                : 0px;
  position            : absolute;
  top                 : 1663px;
  width               : 1440px;
}
.about .rectangle-9-NmTPpZ {
  background-color    : var(--auto-palette-color-7);
  height              : 39.17%;
  left                : 0px;
  position            : absolute;
  top                 : 60.83%;
  width               : 100%;
}
.about .sub-title7-f0TGNj {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : 2.45%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 89.23%;
  width               : 13.19%;
}
.about .sub-title7-StFR1t {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 69.16%;
  width               : 14.69%;
}
.about .sub-title7-f0Nh38 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 74.54%;
  width               : 21.82%;
}
.about .sub-title7-gtgQdB {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 36.54%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 69.16%;
  width               : 14.69%;
}
.about .sub-title7-3EXA64 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 36.54%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 74.54%;
  width               : 9.30%;
}
.about .sub-title7-nZbKhf {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 57.34%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 69.16%;
  width               : 14.69%;
}
.about .sub-title7-dcR35x {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.45%;
  left                : 57.34%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 74.54%;
  width               : 8.07%;
}
.about .b-gcontact-52oXfQ {
  background-color    : var(--auto-palette-color-4);
  height              : 60.83%;
  left                : 0px;
  position            : absolute;
  top                 : 0px;
  width               : 100%;
}
.about .cta-3wi2O9 {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 11.75%;
  left                : 57.57%;
  overflow            : hidden;
  position            : absolute;
  top                 : 38.31%;
  width               : 11.32%;
}
.about .submit-gbj8cm {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 28px;
  width               : 165px;
}
.about .want-to-know-more-5v0cCg {
  background-color    : rgba(56,56,56,0);
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : 6.12%;
  left                : 8.61%;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 10.89%;
  width               : 40.76%;
}
.about .any-questions-3Y5d7x {
  background-color    : rgba(49,192,100,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : 6.12%;
  left                : 8.61%;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 17.01%;
  width               : 29.72%;
}
.about .rectangle-10-LZxhnt {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 7.34%;
  left                : 57.57%;
  position            : absolute;
  top                 : 14.81%;
  width               : 33.82%;
}
.about .rectangle-11-ZCUWxz {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 7.34%;
  left                : 57.57%;
  position            : absolute;
  top                 : 28.52%;
  width               : 33.82%;
}
.about .textfield2-jqxUTx {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.82%;
  left                : 58.89%;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 17.14%;
  width               : 30.90%;
}
.about .textfield2-jqxUTx::placeholder {
  color               : rgba(130,130,130,0.6);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - about-phone */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.about-phone .textfield2-rP0nxq {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 1987px;
  width               : calc(100.00% - 84px);
}
.about-phone .textfield2-rP0nxq::placeholder {
  color               : rgba(130,130,130,0.6);
}
.about-phone .sub-title7-h9WbrA {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1824px;
  width               : calc(100.00% - 175px);
}
.about-phone .sub-title7-x8aMVe {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1936px;
  width               : calc(100.00% - 175px);
}
.about-phone .sub-title7-jKpMgh {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2236px;
  width               : calc(100.00% - 51px);
}
.about-phone .sub-title7-IxxEJN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2280px;
  width               : calc(100.00% - 51px);
}
.about-phone .sub-title7-eprRFZ {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2348px;
  width               : calc(100.00% - 51px);
}
.about-phone .sub-title7-CrIMBs {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2392px;
  width               : calc(100.00% - 51px);
}
.about-phone .sub-title7-J7ZzwU {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2460px;
  width               : calc(100.00% - 51px);
}
.about-phone .sub-title7-qA2tYb {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2504px;
  width               : calc(100.00% - 51px);
}
.about-phone .plan-KYkZNZ {
  background-color    : rgba(255,255,255,0);
  height              : 255px;
  left                : 0px;
  position            : absolute;
  top                 : 990px;
  width               : 375px;
}
.about-phone .sub-title-5-gTh5uY {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 3px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1265px;
  width               : 370px;
}
.about-phone .ipw-is-not-creating-a-filter-with-anyone-in-mind-but-rather-everyone-from-fabrication-to-replacement-both-the-end-user-and-the-environment-have-been-considered-our-filters-are-scalable-affordable-and-reusable-top-of-the-line-performace-simple-design-accessible-to-all-a-groundbreakingd-filter-for-the-world-without-wasting-a-drop-of-water-f8zJg6 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 22px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1385px;
  width               : 333px;
}
.about-phone .span1-f8zJg6 {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
.about-phone .span2-f8zJg6 {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.about-phone .who-MoqbUY {
  background-color    : rgba(255,255,255,0);
  height              : 255px;
  left                : 0px;
  position            : absolute;
  top                 : 515px;
  width               : 375px;
}
.about-phone .sub-title-5-A0oHSp {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 3px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 790px;
  width               : 370px;
}
.about-phone .ipws-mission-is-simple-global-clean-water-access-we-believe-it-is-a-human-right-and-now-we-are-taking-the-steps-to-achieve-that-our-filters-are-affordable-in-any-market-because-everyone-should-be-able-to-afford-clean-water-at-ipw-using-the-shim-ron-line-of-filters-we-can-provide-that-basic-human-right-beVrJE {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 22px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 860px;
  width               : 333px;
}
.about-phone .what-Setx4l {
  background-color    : rgba(255,255,255,0);
  height              : 255px;
  left                : 0px;
  position            : absolute;
  top                 : 2px;
  width               : 375px;
}
.about-phone .sub-title-5-cMbvHA {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 3px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 277px;
  width               : 370px;
}
.about-phone .ipw-is-a-company-that-has-been-evolving-for-over-a-decade-while-keeping-one-goal-in-mind-providing-clean-water-dr-ronald-silver-and-mr-shimon-ben-dor-set-out-with-the-intention-of-creating-a-highly-efficient-non-electric-easy-to-use-filter-systems-that-is-affordable-in-any-market-this-shared-dream-would-grow-to-become-the-shim-ron-line-of-filters-a-filter-fit-for-any-need-any-scale-and-on-any-budget-a-filter-fit-for-everyone-N4U3hy {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : 22px;
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 347px;
  width               : 333px;
}
.about-phone .span1-N4U3hy {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
  letter-spacing      : 0.00px;
}
.about-phone .span2-N4U3hy {
  color               : rgba(130,130,130,1.0);
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
  letter-spacing      : 0.00px;
}
.about-phone .sub-title7-ewY0CX {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : auto;
  left                : 94px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2715px;
  width               : calc(100.00% - 185px);
}
.about-phone .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 50px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.about-phone .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 188px);
  position            : absolute;
  top                 : 20px;
  width               : 375px;
}
.about-phone .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 32.48%;
  left                : 15.73%;
  position            : absolute;
  text-align          : center;
  top                 : 62.39%;
  width               : 70.67%;
}
.about-phone .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  height              : 35.90%;
  left                : 6.67%;
  position            : absolute;
  top                 : 5.13%;
  width               : 50.70%;
}
.about-phone .vector-lexkds {
  background-color    : rgba(56,56,56,0);
  cursor              : pointer;
  height              : 27px;
  left                : 85.87%;
  position            : absolute;
  top                 : 14px;
  width               : 7.20%;
}
.about-phone {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 2767.0px;
  min-width           : 375.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.about-phone .b-gbottom-ClPRmz {
  background-color    : var(--auto-palette-color-7);
  height              : 445px;
  left                : 0px;
  position            : absolute;
  top                 : 2322px;
  width               : 100%;
}
.about-phone .b-gcontact-IM6yo6 {
  background-color    : var(--auto-palette-color-4);
  height              : 645px;
  left                : 0px;
  position            : absolute;
  top                 : 1677px;
  width               : 100%;
}
.about-phone .frame-16-NceLou {
  background-color    : rgba(255,255,255,0);
  height              : 2572px;
  left                : calc(50.00% - 188px);
  overflow            : hidden;
  position            : absolute;
  top                 : 135px;
  width               : 377px;
}
.about-phone .frame-2-V0N1hu {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 80px;
  left                : 125px;
  overflow            : hidden;
  pointer-events      : auto;
  position            : absolute;
  top                 : 2068px;
  transition          : all 0.2s ease;
  width               : calc(100.00% - 255px);
}
.about-phone .frame-2-V0N1hu:hover {
  transform           : translate(0, -5px);
}
.about-phone .submit-DB2Ohi {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 20px;
  width               : 122px;
}
.about-phone .any-questions-shoot-us-an-email-8uXT0U {
  background-color    : rgba(49,192,100,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : calc(50.00% - 189px);
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1708px;
  width               : 377px;
}
.about-phone .leave-your-e-mail-and-we-will-contact-you-shortly-3sykzd {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1749px;
  width               : calc(100.00% - 50px);
}
.about-phone .want-to-know-more-SQ4AG9 {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 26px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1592px;
  width               : calc(100.00% - 51px);
}
.about-phone .rectangle-10-NwIrld {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 1856px;
  width               : calc(100.00% - 52px);
}
.about-phone .rectangle-11-owdHIP {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 1968px;
  width               : calc(100.00% - 52px);
}
.about-phone .textfield2-o2EZTO {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 1875px;
  width               : calc(100.00% - 84px);
}
.about-phone .textfield2-o2EZTO::placeholder {
  color               : rgba(130,130,130,0.6);
}
@media screen and (max-width: 1149px) {
  .about {
    display             : none ;
  }
}
@media screen and (min-width: 1150px) {
  .about-phone {
    display             : none ;
  }
}