@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,900|Helvetica+Neue:700');

.contact {
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - contact */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.contact .sub-title-5-1-XHyRUp {
  background-color    : rgba(49,192,100,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 161px;
  width               : 438px;
}
.contact .leave-your-e-mail-and-we-will-contact-you-shortly-T1ToX4 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 231px;
  width               : 489px;
}
.contact .rectangle-10-ycPqxv {
  background-color    : var(--auto-palette-color-4);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 121px;
  position            : absolute;
  top                 : 392px;
  width               : 487px;
}
.contact .rectangle-11-4zcI29 {
  background-color    : var(--auto-palette-color-4);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 121px;
  position            : absolute;
  top                 : 519px;
  width               : 487px;
}
.contact .textfield2-t2iZzt {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 139px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 538px;
  width               : 433px;
}
.contact .textfield2-t2iZzt::placeholder {
  color               : rgba(130,130,130,0.6);
}
.contact .textfield2-F6aCoN {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 139px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 410px;
  width               : 436px;
}
.contact .textfield2-F6aCoN::placeholder {
  color               : rgba(130,130,130,0.6);
}
.contact .sub-title7-Gb7e2j {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 360px;
  width               : 202px;
}
.contact .sub-title7-azcNXT {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 487px;
  width               : 202px;
}
.contact .cta-qTaj5M {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 96px;
  left                : 121px;
  overflow            : hidden;
  position            : absolute;
  top                 : 629px;
  width               : 165px;
}
.contact .submit-wEIFVG {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 28px;
  width               : 165px;
}
.contact .knowmore-on6dym {
  background-color    : rgba(255,255,255,0);
  height              : 825px;
  left                : 691px;
  position            : absolute;
  top                 : 111px;
  width               : 628px;
}
.contact .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 30px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.contact .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 720px);
  position            : absolute;
  top                 : 0px;
  width               : 1440px;
}
.contact .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 36.60%;
  position            : absolute;
  text-align          : left;
  top                 : 79.49%;
  width               : 48.33%;
}
.contact .home-JOdDHZ {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 50.62%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.60%;
}
.contact .filters-LVm3WN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 59.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.39%;
}
.contact .technology-v9XZhp {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 68.75%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 9.93%;
}
.contact .about-5bbght {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 80.56%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 7.22%;
}
.contact .contact-nGCmsB {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 89.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.81%;
}
.contact .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 42.74%;
  left                : 5.56%;
  position            : absolute;
  top                 : 19.66%;
  width               : 15.72%;
}
.contact {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 1520.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.contact .rectangle-9-H0JXIb {
  background-color    : var(--auto-palette-color-7);
  height              : 320px;
  left                : 1px;
  position            : absolute;
  top                 : 1200px;
  width               : 100%;
}
.contact .frame-14-zg40cX {
  background-color    : rgba(255,255,255,0);
  height              : 1406px;
  left                : calc(50.00% - 720px);
  overflow            : hidden;
  position            : absolute;
  top                 : 114px;
  width               : 1440px;
}
.contact .rectangle-9-kc4rem {
  background-color    : var(--auto-palette-color-7);
  bottom              : 0px;
  height              : 320px;
  left                : 1px;
  position            : absolute;
  width               : 1440px;
}
.contact .sub-title7-4r5ebY {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 68px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : auto;
  left                : 125px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : auto;
}
.contact .sub-title7-gjLn0W {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 232px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 125px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 211px;
}
.contact .sub-title7-QDtf4G {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 188px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 125px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 314px;
}
.contact .sub-title7-8Ta1qJ {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 232px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 527px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 211px;
}
.contact .sub-title7-VQJ33g {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 188px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 527px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 134px;
}
.contact .sub-title7-UL5Ome {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 232px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 827px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 211px;
}
.contact .sub-title7-JVzbAr {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 188px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 827px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  width               : 116px;
}
.contact .sub-title-5-maLnyr {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 111px;
  width               : 408px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - contact-phone */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.contact-phone .sub-title7-75nu3j {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 621px;
  width               : calc(100.00% - 176px);
}
.contact-phone .knowmore-nQP9u9 {
  background-color    : rgba(255,255,255,0);
  height              : 255px;
  left                : 0px;
  position            : absolute;
  top                 : 2px;
  width               : 375px;
}
.contact-phone .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 50px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.contact-phone .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 188px);
  position            : absolute;
  top                 : 20px;
  width               : 375px;
}
.contact-phone .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 32.48%;
  left                : 15.73%;
  position            : absolute;
  text-align          : center;
  top                 : 62.39%;
  width               : 70.67%;
}
.contact-phone .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  height              : 35.90%;
  left                : 6.67%;
  position            : absolute;
  top                 : 5.13%;
  width               : 50.70%;
}
.contact-phone .vector-lexkds {
  background-color    : rgba(56,56,56,0);
  cursor              : pointer;
  height              : 27px;
  left                : 85.87%;
  position            : absolute;
  top                 : 14px;
  width               : 7.20%;
}
.contact-phone {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 1488.0px;
  min-width           : 375.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.contact-phone .b-gbottom-ClPRmz {
  background-color    : var(--auto-palette-color-7);
  height              : 445px;
  left                : 0px;
  position            : absolute;
  top                 : 1043px;
  width               : 100%;
}
.contact-phone .frame-16-NceLou {
  background-color    : rgba(255,255,255,0);
  height              : 1353px;
  left                : calc(50.00% - 188px);
  overflow            : hidden;
  position            : absolute;
  top                 : 135px;
  width               : 378px;
}
.contact-phone .sub-title7-h9WbrA {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 376px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-x8aMVe {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 332px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-jKpMgh {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 264px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-IxxEJN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 220px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-eprRFZ {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 152px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-CrIMBs {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 108px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 49px);
}
.contact-phone .sub-title7-J7ZzwU {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  bottom              : 47px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : auto;
  left                : 94px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  width               : calc(100.00% - 185px);
}
.contact-phone .frame-2-V0N1hu {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 80px;
  left                : 125px;
  overflow            : hidden;
  pointer-events      : auto;
  position            : absolute;
  top                 : 753px;
  transition          : all 0.2s ease;
  width               : calc(100.00% - 255px);
}
.contact-phone .frame-2-V0N1hu:hover {
  transform           : translate(0, -5px);
}
.contact-phone .submit-DB2Ohi {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 20px;
  width               : 122px;
}
.contact-phone .any-questions-shoot-us-an-email-8uXT0U {
  background-color    : rgba(49,192,100,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : calc(50.00% - 188px);
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 393px;
  width               : 377px;
}
.contact-phone .leave-your-e-mail-and-we-will-contact-you-shortly-3sykzd {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 434px;
  width               : calc(100.00% - 51px);
}
.contact-phone .want-to-know-more-SQ4AG9 {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 26px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 277px;
  width               : calc(100.00% - 52px);
}
.contact-phone .rectangle-10-NwIrld {
  background-color    : var(--auto-palette-color-4);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 541px;
  width               : calc(100.00% - 53px);
}
.contact-phone .rectangle-11-owdHIP {
  background-color    : var(--auto-palette-color-4);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 653px;
  width               : calc(100.00% - 53px);
}
.contact-phone .textfield2-o2EZTO {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 560px;
  width               : calc(100.00% - 85px);
}
.contact-phone .textfield2-o2EZTO::placeholder {
  color               : rgba(130,130,130,0.6);
}
.contact-phone .textfield2-rP0nxq {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 672px;
  width               : calc(100.00% - 85px);
}
.contact-phone .textfield2-rP0nxq::placeholder {
  color               : rgba(130,130,130,0.6);
}
.contact-phone .sub-title7-qA2tYb {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 509px;
  width               : calc(100.00% - 176px);
}
@media screen and (max-width: 1149px) {
  .contact {
    display             : none ;
  }
}
@media screen and (min-width: 1150px) {
  .contact-phone {
    display             : none ;
  }
}