@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,900|Helvetica+Neue:700');


/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - overlay-contact */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.overlay-contact {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 812.0px;
  min-width           : 258.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.overlay-contact .home-dafkJs {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 23px;
  position            : absolute;
  right               : 58px;
  text-align          : left;
  top                 : 71px;
  width               : auto;
}
.overlay-contact .filters-392KPP {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 23px;
  position            : absolute;
  right               : 58px;
  text-align          : left;
  top                 : 118px;
  width               : auto;
}
.overlay-contact .technology-EzVyPC {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 23px;
  position            : absolute;
  right               : 58px;
  text-align          : left;
  top                 : 165px;
  width               : auto;
}
.overlay-contact .about-RhzpBb {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 23px;
  position            : absolute;
  right               : 58px;
  text-align          : left;
  top                 : 212px;
  width               : auto;
}
.overlay-contact .contact-OxcKar {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 23px;
  position            : absolute;
  right               : 58px;
  text-align          : left;
  top                 : 259px;
  width               : auto;
}