@import url('https://fonts.googleapis.com/css?family=Roboto:700,400,900|Helvetica+Neue:700');

.technology {
  -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
  zoom: 0.8; /* Other non-webkit browsers */
  zoom: 80%; /* Webkit browsers */
}

.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - technology */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.technology .submit-FCasm4 {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 28px;
  width               : 165px;
}
.technology .want-to-know-more-xBY8NR {
  background-color    : rgba(56,56,56,0);
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : 2.02%;
  left                : 8.61%;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 70.60%;
  width               : 47.36%;
}
.technology .any-questions-32j14Y {
  background-color    : rgba(49,192,100,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : 2.02%;
  left                : 8.61%;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 72.62%;
  width               : 29.72%;
}
.technology .rectangle-10-kk21oH {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 2.42%;
  left                : 57.57%;
  position            : absolute;
  top                 : 71.89%;
  width               : 33.82%;
}
.technology .rectangle-11-7aWzjx {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 2.42%;
  left                : 57.57%;
  position            : absolute;
  top                 : 76.41%;
  width               : 33.82%;
}
.technology .textfield2-Eip7lw {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 0.93%;
  left                : 58.89%;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 72.66%;
  width               : 30.90%;
}
.technology .textfield2-Eip7lw::placeholder {
  color               : rgba(130,130,130,0.6);
}
.technology .textfield2-yqZZKg {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 0.93%;
  left                : 58.89%;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 77.18%;
  width               : 30.69%;
}
.technology .textfield2-yqZZKg::placeholder {
  color               : rgba(130,130,130,0.6);
}
.technology .sub-title7-xn64AM {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 57.57%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 70.60%;
  width               : 14.03%;
}
.technology .sub-title7-Nrkw2x {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 57.57%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 75.12%;
  width               : 14.03%;
}
.technology .leave-your-email-and-we-will-contact-you-shortly-ZSE1bK {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 2.38%;
  left                : 8.61%;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 75.44%;
  width               : 33.96%;
}
.technology .sub-title-6-hA3OIz {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 832px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 994px;
  width               : 370px;
}
.technology .sub-title-5-1-54Y4cX {
  background-color    : rgba(49,192,100,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : 832px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1044px;
  width               : 438px;
}
.technology .arsenic-iii-v-lead-fluoride-and-iron-contaminate-over-20-of-the-worlds-potable-drinking-water-with-shim-ron-tm-nanotechnology-all-of-that-water-will-now-be-usable-N4Fwex {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 832px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1114px;
  width               : 489px;
}
.technology .section2graph-yjMVOd {
  background-color    : rgba(255,255,255,0);
  height              : 628px;
  left                : 121px;
  position            : absolute;
  top                 : 831px;
  width               : 628px;
}
.technology .sub-title-5-su3Pfr {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 194px;
  width               : 370px;
}
.technology .sub-title-5-1-PfFixU {
  background-color    : rgba(49,192,100,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : left;
  top                 : 344px;
  width               : 438px;
}
.technology .ipws-shimron-nanofiltration-is-the-next-step-in-state-of-the-art-filters-following-trips-to-various-countries-around-the-world-our-founders-shimon-ben-dor-and-dr-ronald-silver-developed-a-deeper-understanding-of-the-magnitude-of-the-clean-water-crisis-determined-to-help-they-perfected-the-use-of-nanotechnology-developing-a-revolutionary-line-of-water-filters-for-the-world-unparalleled-performance-at-a-price-designed-for-everyone-8ITolN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 121px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : left;
  top                 : 414px;
  width               : 489px;
}
.technology .section1graph-tGa39S {
  background-color    : rgba(255,255,255,0);
  height              : 628px;
  left                : 691px;
  position            : absolute;
  top                 : 103px;
  width               : 628px;
}
.technology .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 30px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.technology .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 720px);
  position            : absolute;
  top                 : 0px;
  width               : 1440px;
}
.technology .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 36.60%;
  position            : absolute;
  text-align          : left;
  top                 : 79.49%;
  width               : 48.33%;
}
.technology .home-JOdDHZ {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 50.62%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 5.42%;
}
.technology .filters-LVm3WN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 59.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 7.36%;
}
.technology .technology-v9XZhp {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 68.75%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 9.58%;
}
.technology .about-5bbght {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 80.56%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 7.57%;
}
.technology .contact-nGCmsB {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 16.0px;
  height              : 16.24%;
  left                : 89.58%;
  position            : absolute;
  text-align          : left;
  top                 : 30.77%;
  width               : 6.39%;
}
.technology .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  cursor              : pointer;
  height              : 42.74%;
  left                : 5.56%;
  position            : absolute;
  top                 : 19.66%;
  width               : 15.72%;
}
.technology {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 2590.0px;
  min-width           : 1440.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.technology .b-gcontact-IM6yo6 {
  background-color    : var(--auto-palette-color-4);
  height              : 497px;
  left                : 0px;
  position            : absolute;
  top                 : 1773px;
  width               : 100%;
}
.technology .rectangle-9-H0JXIb {
  background-color    : var(--auto-palette-color-7);
  height              : 320px;
  left                : 0px;
  position            : absolute;
  top                 : 2270px;
  width               : 100%;
}
.technology .frame-12-nWG0wn {
  background-color    : rgba(255,255,255,0);
  height              : 2476px;
  left                : calc(50.00% - 720px);
  overflow            : hidden;
  position            : absolute;
  top                 : 112px;
  width               : 1440px;
}
.technology .sub-title7-z7bx5s {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : 0.81%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 96.45%;
  width               : 13.19%;
}
.technology .sub-title7-ydqjxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 89.82%;
  width               : 14.69%;
}
.technology .sub-title7-JszD70 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 8.61%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 91.60%;
  width               : 21.82%;
}
.technology .sub-title7-W5abbJ {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 36.54%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 89.82%;
  width               : 14.69%;
}
.technology .sub-title7-MUSbip {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 36.54%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 91.60%;
  width               : 9.30%;
}
.technology .sub-title7-vp71Eo {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 57.34%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 89.82%;
  width               : 14.69%;
}
.technology .sub-title7-w6dP1a {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : 0.81%;
  left                : 57.34%;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 91.60%;
  width               : 8.07%;
}
.technology .cta-ofgs04 {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 3.88%;
  left                : 57.57%;
  overflow            : hidden;
  position            : absolute;
  top                 : 79.64%;
  width               : 11.32%;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  animation-delay     : 0s;
}
@keyframes anima-reveal {
  from {
    opacity             : 0;
  }
  to {
    opacity             : 1;
  }
}
* {
  box-sizing          : border-box;
}
a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-component-wrapper a,
.anima-screen a {
  text-decoration     : none;
}
.anima-flexbox-container a {
  line-height         : 0;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
.anima-screen textarea:focus,
.anima-screen input:focus {
  outline             : none;
}
.anima-screen div {
  -webkit-text-size-adjust: none;
}
.anima-container-center-vertical,
.anima-container-center-horizontal {
  pointer-events      : none;
  display             : flex;
  flex-direction      : row;
  padding             : 0;
  margin              : 0;
}
.anima-container-center-vertical {
  align-items         : center;
  height              : 100%;
}
.anima-container-center-horizontal {
  justify-content     : center;
  width               : 100%;
}
.anima-container-center-vertical > *,
.anima-container-center-horizontal > * {
  pointer-events      : auto;
  flex-shrink         : 0;
}
.anima-component-wrapper,
.anima-screen {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.anima-auto-animated div {
  opacity             : 0;
  position            : absolute;
  --anima-z-index: -1;
}
.anima-auto-animated .anima-container-center-vertical,
.anima-auto-animated .anima-container-center-horizontal {
  opacity             : 1;
}
/* ANIMA screen - technology-phone */
.font-class-1 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 700;
}
.font-class-2 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 400;
}
.font-class-3 {
  font-family         : Roboto, Helvetica, Arial, serif;
  font-weight         : 900;
}
.font-class-4 {
  font-family         : "Roboto", Helvetica, Arial, serif;
}
.font-class-5 {
  font-family         : Helvetica Neue, Helvetica, Arial, serif;
  font-weight         : 700;
}
:root {
  --auto-palette-color-1: rgba(255,255,255,1.0);
  --auto-palette-color-10: rgba(229,229,234,1.0);
  --auto-palette-color-2: rgba(130,130,130,1.0);
  --auto-palette-color-3: rgba(56,56,56,1.0);
  --auto-palette-color-4: rgba(244,244,244,1.0);
  --auto-palette-color-5: rgba(49,192,100,1.0);
  --auto-palette-color-6: rgba(0,122,255,1.0);
  --auto-palette-color-7: rgba(0,50,105,1.0);
  --auto-palette-color-8: rgba(162,206,255,1.0);
  --auto-palette-color-9: rgba(142,142,147,1.0);
}
.technology-phone .sub-title7-h9WbrA {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1764px;
  width               : calc(100.00% - 176px);
}
.technology-phone .sub-title7-x8aMVe {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 20.0px;
  height              : auto;
  left                : 25px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1876px;
  width               : calc(100.00% - 176px);
}
.technology-phone .sub-title7-jKpMgh {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2176px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-IxxEJN {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2220px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-eprRFZ {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2288px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-CrIMBs {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2332px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-J7ZzwU {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2400px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-qA2tYb {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  cursor              : pointer;
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2444px;
  width               : calc(100.00% - 52px);
}
.technology-phone .sub-title7-75nu3j {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 12.0px;
  height              : auto;
  left                : 94px;
  line-height         : 20.0px;
  position            : absolute;
  text-align          : center;
  top                 : 2505px;
  width               : calc(100.00% - 188px);
}
.technology-phone .section2graph-ugpUgZ {
  background-color    : rgba(255,255,255,0);
  height              : 375px;
  left                : 0px;
  position            : absolute;
  top                 : 803px;
  width               : 375px;
}
.technology-phone .sub-title-5-gTh5uY {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : calc(50.00% - 189px);
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 401px;
  width               : 377px;
}
.technology-phone .sub-title-6-3zRXlt {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : calc(50.00% - 189px);
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1202px;
  width               : 377px;
}
.technology-phone .sub-title-5-1-xCweF2 {
  background-color    : rgba(49,192,100,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : calc(50.00% - 164px);
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 571px;
  width               : 327px;
}
.technology-phone .sub-title-5-1-IleX4R {
  background-color    : rgba(49,192,100,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : calc(50.00% - 164px);
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1272px;
  width               : 327px;
}
.technology-phone .ipws-shimron-nanofiltration-is-the-next-step-in-state-of-the-art-filters-following-trips-to-various-countries-around-the-world-our-founders-shimon-ben-dor-and-dr-ronald-silver-had-a-deeper-understanding-of-the-magnitude-of-the-clean-water-crisis-determined-to-help-they-perfected-the-use-of-nanotechnology-developing-a-revolutionary-line-of-water-filters-for-the-world-unparalleled-performance-at-a-price-designed-for-everyone-qV9vz1 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : calc(50.00% - 167px);
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 639px;
  width               : 333px;
}
.technology-phone .arsenic-iii-v-lead-fluoride-and-iron-contaminate-over-20-of-the-worlds-potable-drinking-water-with-shim-ron-tm-nanotechnology-all-of-that-water-will-now-be-usable-HVy303 {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 14.0px;
  height              : auto;
  left                : calc(50.00% - 167px);
  line-height         : 16.0px;
  position            : absolute;
  text-align          : left;
  top                 : 1340px;
  width               : 333px;
}
.technology-phone .section1graph-SXIYJV {
  background-color    : rgba(255,255,255,0);
  height              : 375px;
  left                : 0px;
  position            : absolute;
  top                 : 2px;
  width               : 375px;
}
.technology-phone .banner-XGucGS {
  background-color    : var(--auto-palette-color-5);
  height              : 50px;
  left                : 0px;
  position            : absolute;
  top                 : 87px;
  width               : 100%;
}
.technology-phone .navigation-umYMIO {
  background-color    : rgba(255,255,255,0);
  height              : 117px;
  left                : calc(50.00% - 188px);
  position            : absolute;
  top                 : 20px;
  width               : 375px;
}
.technology-phone .safe-and-great-tasting-water-at-an-unbeatable-price-yxTmxO {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : 32.48%;
  left                : 15.73%;
  position            : absolute;
  text-align          : center;
  top                 : 62.39%;
  width               : 70.67%;
}
.technology-phone .pi-wlogo1-1-P7zE5I {
  background-color    : rgba(255,255,255,0);
  height              : 35.90%;
  left                : 6.67%;
  position            : absolute;
  top                 : 5.13%;
  width               : 50.70%;
}
.technology-phone .vector-lexkds {
  background-color    : rgba(56,56,56,0);
  cursor              : pointer;
  height              : 27px;
  left                : 85.87%;
  position            : absolute;
  top                 : 14px;
  width               : 7.20%;
}
.technology-phone {
  background-color    : var(--auto-palette-color-1);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  height              : 100vh;
  margin              : 0px;
  min-height          : 2707.0px;
  min-width           : 375.0px;
  overflow            : hidden;
  position            : relative;
  width               : 100%;
}
.technology-phone .b-gbottom-ClPRmz {
  background-color    : var(--auto-palette-color-7);
  height              : 445px;
  left                : 0px;
  position            : absolute;
  top                 : 2262px;
  width               : 100%;
}
.technology-phone .b-gcontact-IM6yo6 {
  background-color    : var(--auto-palette-color-4);
  height              : 645px;
  left                : 0px;
  position            : absolute;
  top                 : 1617px;
  width               : 100%;
}
.technology-phone .frame-16-NceLou {
  background-color    : rgba(255,255,255,0);
  height              : 2572px;
  left                : calc(50.00% - 188px);
  overflow            : hidden;
  position            : absolute;
  top                 : 135px;
  width               : 378px;
}
.technology-phone .frame-2-V0N1hu {
  background-color    : var(--auto-palette-color-6);
  border-radius       : 30.0px;
  cursor              : pointer;
  height              : 80px;
  left                : 125px;
  overflow            : hidden;
  pointer-events      : auto;
  position            : absolute;
  top                 : 2008px;
  transition          : all 0.2s ease;
  width               : calc(100.00% - 255px);
}
.technology-phone .frame-2-V0N1hu:hover {
  transform           : translate(0, -5px);
}
.technology-phone .submit-DB2Ohi {
  background-color    : rgba(255,255,255,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-1);
  font-size           : 16.0px;
  height              : auto;
  left                : 0px;
  line-height         : 40.0px;
  position            : absolute;
  text-align          : center;
  top                 : 20px;
  width               : 122px;
}
.technology-phone .any-questions-shoot-us-an-email-8uXT0U {
  background-color    : rgba(49,192,100,0);
  color               : var(--auto-palette-color-5);
  font-size           : 20.0px;
  height              : auto;
  left                : calc(50.00% - 188px);
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1648px;
  width               : 377px;
}
.technology-phone .leave-your-e-mail-and-we-will-contact-you-shortly-3sykzd {
  background-color    : rgba(130,130,130,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : auto;
  left                : 26px;
  line-height         : 24.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1689px;
  width               : calc(100.00% - 51px);
}
.technology-phone .want-to-know-more-SQ4AG9 {
  background-color    : rgba(56,56,56,0);
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-3);
  font-size           : 40.0px;
  height              : auto;
  left                : 26px;
  line-height         : 50.0px;
  position            : absolute;
  text-align          : center;
  top                 : 1532px;
  width               : calc(100.00% - 52px);
}
.technology-phone .rectangle-10-NwIrld {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 1796px;
  width               : calc(100.00% - 53px);
}
.technology-phone .rectangle-11-owdHIP {
  background-color    : var(--auto-palette-color-1);
  border-radius       : 10.0px;
  height              : 60px;
  left                : 25px;
  position            : absolute;
  top                 : 1908px;
  width               : calc(100.00% - 53px);
}
.technology-phone .textfield2-o2EZTO {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 1815px;
  width               : calc(100.00% - 85px);
}
.technology-phone .textfield2-o2EZTO::placeholder {
  color               : rgba(130,130,130,0.6);
}
.technology-phone .textfield2-rP0nxq {
  background-color    : rgba(130,130,130,0);
  border              : 0;
  border-color        : rgba(255,255,255,0);
  border-style        : solid;
  border-width        : 1.0px;
  color               : var(--auto-palette-color-2);
  font-size           : 20.0px;
  height              : 23px;
  left                : 41px;
  padding             : 0;
  position            : absolute;
  resize              : none;
  text-align          : left;
  top                 : 1927px;
  width               : calc(100.00% - 85px);
}
.technology-phone .textfield2-rP0nxq::placeholder {
  color               : rgba(130,130,130,0.6);
}
@media screen and (max-width: 1149px) {
  .technology {
    display             : none ;
  }
}
@media screen and (min-width: 1150px) {
  .technology-phone {
    display             : none ;
  }
}